.App-header {
  height: 150px;
  padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.App-title {
	font-size: 6em;
}

.App-rsvp {
	display: flex;
	align-items: center;
}

.App-rsvp button {
	background-color: #BB1A28;
	color: #FFF;
	font-size: 4em;
	border-radius: 8px;
	border: none;
	font-weight: 300;
	padding: 10px 30px;
}

.App-rsvp .deadline {
	font-size: 1.8em;
	font-weight: 200;
	margin-left: 40px;
}

.navBar {
	background-color: #002040;
	height: 55px;
}

.nav {
	height: 50px;
	list-style-type: none;
	line-height: 50px;
	font-size: 1.8em;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-start;
}

.nav li {
	height: 45px;
	display: block;
	color: #FFF;
	text-align: center;
	padding: 5px 15px 0 15px;
}

.nav li:hover {
	color: #002040;
	background-color: #FFF;
}

.App-body {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 20px;
}

.flowerPic {
	width: auto;
	margin: 0 auto 40px auto;
	height: 250px;
}

.info-link {
	width: 40%;
	text-align: center;
	font-size: 2em;
	font-weight: 200;
}

.App-body-rsvp {
	width: 40%;
	font-size: 2em;
	font-weight: 200;
	text-align: center;
}

.App-body-rsvp p {
	margin: 0;
}

.App-body-rsvp button {
	background-color: #BB1A28;
	color: #FFF;
	font-size: 1.75em;
	border-radius: 8px;
	border: none;
	font-weight: 300;
	padding: 10px 30px;
	margin-bottom: 25px;
}

.info-link h2 {
	font-size: 1.75em;
	font-weight: 200;
	margin-top: 0;
}

.App-footer {
	height: 200px;
	background-color: #FFB6C2;
	margin-top: 20px;
	font-size: 2.4em;
	font-weight: 200;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 1280px) {
	.App-title {
		font-size: 4.5em;
	}
	.App-rsvp button {
		font-size: 3em;
	}
}
