.App-body {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 20px;
}

.flowerPic {
	width: auto;
	margin: 0 auto 40px auto;
	height: 250px;
}

.info-link {
	width: 40%;
	text-align: center;
	font-size: 2em;
	font-weight: 200;
}

.App-body-rsvp {
	width: 40%;
	font-size: 2em;
	font-weight: 200;
	text-align: center;
}

.App-body-rsvp p {
	margin: 0;
}

.App-body-rsvp button {
	background-color: #BB1A28;
	color: #FFF;
	font-size: 1.75em;
	border-radius: 8px;
	border: none;
	font-weight: 300;
	padding: 10px 30px;
	margin-bottom: 25px;
}

.App-header strong {
	color: #ffbdd6;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
